mixin form
    form
        .question
            input(type="text", name="name", placeholder="Тема вопроса")
            .hint_block
                img.hint(src="/img/user/poll/question_answered.png")
        
        .details
            textarea(name="text", placeholder="Вопрос")
        
        .selects
            .select
                select.specialist_age_select
                    | {{#each ages}}                    
                    | <option value="{{_id}}">{{title}}</option>
                    | {{/each}}

            .select.theme
                select.specialist_theme_select
                    | {{#each themes}}
                    | {{#arrContains age_id ageId true false}}
                    | <option value="{{_id}}">{{name}}</option>
                    | {{/arrContains}}
                    | {{/each}}
        
        .footer
            .obligatory
                div Все поля являются обязательными
                div для заполнения
            
            button.button(type='submit') ОТПРАВИТЬ

mixin message
    .not_auth
        img(src="/img/user/specialist/promo_image.png")
        .textWrap
            .title= "задать вопрос специалисту могут только авторизированные пользователи"
            .text 
                | У вас созрел животрепещущий вопрос? Авторизируйся и используй 
                a.new_module(href="/login") 
                    | все&nbsp;преимущества
                |  своего профиля!
            .links
                a.new_module(href="/login")= "вход"
                |  / 
                a.new_module(href="/registration")= "регистрация"

mixin user(server)
    if server
        if user
            mixin form()
        else
            mixin message()
    else
        | {{#if isAuth}}
        mixin form()
        | {{else}}
        mixin message()
        | {{/if}}


mixin article(a, i)
    - var classname = ''
    - var articleType = 'author'
    
    if a
        - classname = (i - 4) % 5 == 0 ? 'double' : ''
    else
        - classname = '{{getClassName @index}}'
    
    - classname += ' ' + articleType
    
    a(class="new_module no-image card #{classname}" href='/question/' + (a ? a.transliterated : '{{transliterated}}') style=(a ? '' : '{{filterIt . filter}}'))
        .inner
            .topper
                .topper_label
                    .adorable_table
                        .adorable_cell= (a ? a.theme.name : '{{theme.name}}')

                .topper_title= (a ? a.name : '{{name}}')

            .user_content
                if a 
                    if a.author && a.author.name
                        .user
                            .avatar
                                - var img = '/img/user/helpers/stub/medium.png'
                                if a.author.author_id && a.author.author_id.image
                                    - img = a.author.author_id.image.medium
                                img.rounded(src='#{img}')
                            .name= a.author.name
                else
                    | {{#if author.name}}
                    .user
                        .avatar
                            img.rounded(src='{{getUserImg .}}')
                        .name= '{{autor.name}}'
                    | {{/if}}
                .user.doctor
                    .avatar.medical_cap
                        img.rounded(src='/img/user/specialist/doc_mini.jpg')
                    .name врач-педиатр
                    .name Ирина Матвиенко
            div(class="footer toggleWatch " + (a ? '' : '{{isWatched .}}'))
                .heart
                    img.watched(src="/img/user/helpers/cards/red_eye.png")
                    img.not-watched(src="/img/user/helpers/cards/eye.png")
                    if a 
                        if a.recommended
                            img(src="/img/user/helpers/cards/lamp.png")
                        - var answer = false;
                        each ans, i in a.answer
                            if ans.specialist
                                - answer = true;
                        if answer
                            img(src="/img/user/helpers/cards/check.png")
                    else
                        | {{#isSpecAns .}}
                        img(src="/img/user/helpers/cards/check.png")
                        | {{/isSpecAns}}
                        | {{#if recommended}}
                        img(src="/img/user/helpers/cards/lamp.png")
                        | {{/if}}
                    
                .counters.adorable_table
                    .adorable_cell
                        - var component_id = a ? a._id : '{{_id}}'
                        img.watch.watched(src="/img/user/helpers/cards/red_eye.png", data-component_id=component_id)
                        img.watch.not-watched(src="/img/user/helpers/cards/eye.png", data-component_id=component_id)
                        span.count.watch(data-component_id=component_id)= (a ? (a.likes ? a.likes.length : 0) : '{{watchers.length}}')
                        span.approve
                            | мамочек
                            br
                            | наблюдают
                        
                        img.comment(src="/img/user/article/comment.png")
                        span.count= (a ? (a.counter && a.counter.comment ? a.counter.comment : 0) : '{{#if counter.comment}}{{counter.comment}}{{else}}0{{/if}}')
