extends ../layout

block append header
    link(href="/css/admin/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

block append scripts
    script(src="/js/admin/plugins/datatables/jquery.dataTables.js")
    script(src="/js/admin/plugins/datatables/dataTables.bootstrap.js")
    script.
        $(function() {
            $('#dtable').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });

block content
    .box
        .box-header
            h3.box-title= "Список категория"
        .box-header
            .panel-primary
                .panel-body
                    a(href="category/create")
                        button.btn.btn-primary= "Создать новую категорию"
        .box-body.table-responsive
            table.table.table-bordered.table-striped#dtable
                thead
                    tr
                        th= "Название"
                        th= "Активный"
                        th= "Действия"
                tbody
                    each item in categories
                        tr
                            td= item.name
                            td= (item.active?"Да":"Нет")
                            td
                                div.col-md-4
                                    a(href="category/edit/#{item._id}")
                                        button.btn.btn-warning(type="button")
                                            i.glyphicon.glyphicon-edit
                                            span= " Редактировать"
                                div.col-md-4
                                    a(href="category/position/#{item._id}")
                                        button.btn.btn-warning(type="button")
                                            i.glyphicon.glyphicon-edit
                                            span= " Позиции продуктов"
                                div.col-md-4
                                    a(href="category/delete/#{item._id}")
                                        button.btn.btn-danger(type="button")
                                            i.glyphicon.glyphicon-remove-circle
                                            span= " Удалить"