extends ../layout

block append header
	link(href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css")
	style.
		img.img-thumbnail {
			max-height: 140px;
			margin: 10px;
		}
		.textarea {
			width: 100%;
			height: 200px;
			font-size: 14px;
			line-height: 18px;
			border: 1px solid #dddddd;
			padding: 10px;
		}

block append scripts
	script(src="/js/plugins/underscore/underscore-min.js")
	script(src="/js/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
	script(src="/js/admin/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js")
	script(src="/js/admin/jqueryupload.js")
	script(src="/js/admin/custom_image_wysihtml5.js")
	script(src="/js/admin/plugins/input-mask/jquery.inputmask.js")
	script(src="/js/admin/plugins/input-mask/jquery.inputmask.date.extensions.js")
	script(src="/js/admin/plugins/input-mask/jquery.inputmask.extensions.js")
	script.
		$("#birthday").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});


block content
	.panel.panel-default
		.panel-heading
			.panel-title= "Профиль"
		form(role="form" enctype="multipart/form-data" method="post" action="/admin/profile")
			.panel-body
				.panel.panel-primary
					.panel-heading= "Данные пользователя"
					.panel-body
						.form-group
							label(for="firstName")= "Имя:"
							input.form-control(type="text" name="firstName" placeholder="Ваше имя" value=user.firstName)
						.form-group
							label(for="lastName")= "Фамилия:"
							input.form-control(type="text" name="lastName" placeholder="Ваша фамилия" value=user.lastName)
						.form-group
							label(for="email")= "E-mail:"
							input.form-control(type="email" name="email" value=user.email)
				.panel.panel-primary
					.panel-heading= "Данные специалиста"
					.panel-body
						.form-group
							label(for="title")= "Титул:"
							input.form-control(type="text" name="title" placeholder="Титул специалиста" value=user.title)
						.form-group
							label(for="text")= "Описание:"
							textarea.textarea(
								name="text" 
								placeholder="Описание специалиста" 
							)= user.text
						.form-group
							label(for="photo")= "Фото"
							input(type="file" name="photo")
							if user.photo
								div
									img.img-thumbnail(src="/img/#{user.photo}")
						.form-group
							label(for="birthday")= "День рождения:"
							.input-group
								.input-group-addon
									i.fa.fa-calendar
								input#birthday.form-control(type="text" name="birthday" value=user.birthday)
				div
					input.btn.btn-primary(type='submit' value='Сохранить изменения')