extends ../layout

block append header
    link(href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css")
    link(href="/js/plugins/chosen/chosen.min.css" rel="stylesheet" type="text/css")
    style.
        .img-container {
            position: relative;
            height: 140px;
            width: 200px;
            float: left;
        }
        img.img-thumbnail {
            max-height: 140px;
            margin: 10px;
        }
        .removeImage {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .textarea {
            width: 100%;
            height: 200px;
            font-size: 14px;
            line-height: 18px;
            border: 1px solid #dddddd;
            padding: 10px;
        }
        .t-removeAnswer {
            cursor: pointer;
        }

block append scripts
    script(src="/js/plugins/underscore/underscore-min.js")
    script(src="/js/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
    script(src="/js/admin/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.min.js")
    script(src="/js/plugins/chosen/chosen.jquery.min.js")
    script(src="/js/admin/jqueryupload.js")
    script(src="/js/admin/custom_image_wysihtml5.js")
    script(src="/js/admin/jquery-ui-1.10.3.min.js")
    script.
        var themes = !{themeAdjusted};
        $(function() {
            var createTagsForm = function(id) {
                var panel = $('.t-tagPanel');
                panel.empty();
                var chckbx = '';
                for(var i = 0, len = themes[id].length; i < len; i++) {
                    var tag = themes[id][i];
                    chckbx += '<div><input type="checkbox" name="tags" value="'
                        + tag._id + '"/>'
                        + '<label for="tags"> ' + tag.name + '</label></div>';
                }
                panel.html(chckbx);
                panel.find('input').iCheck({
                    checkboxClass: 'icheckbox_minimal'
                });
            };

            var removeAnswerFunc = function(){
                if(confirm('Удалить вариант ответа?')) {
                    $(this).parents('.toDrag').fadeOut(300).remove();
                };
            };

            $('.t-addAnswer').on('click', function(){
                var html = '<div class="toDrag"><label for="quizname"><span>Текст варианта опроса:</span>'
                            + '<span class="badge pull-right t-removeAnswer"><i class="glyphicon glyphicon-remove"></i></span></label>'
                            + '<input type="hidden" name="quiz_id" value="-1" />'
                            + '<textarea name="quizname" class="textarea"></textarea></div>';

                $('.t-answerCont').append(html);

                $('.t-removeAnswer:last').on('click', removeAnswerFunc);

                var el = $('.t-answerCont .textarea:last');
                el.wysihtml5($.extend(__wysiwygOptions, {html:true, color:false, stylesheets:[]}));
                
                //$('.t-answerCont').sortable({
                //    items: "> .toDrag"
                //});
            });

            $('.t-removeAnswer').each(function() {
                $(this).on('click', removeAnswerFunc);
            });

            //- $('.t-answerCont').sortable({
            //-     items: "> .toDrag"
            //- });

            $('.choosed').chosen();

            $('.themed').on('change', function(ev, params){
                createTagsForm(params.selected);
            });
            $(".t-removeImage").on('click', function(ev){
                ev.preventDefault();

                self = $(this);
                $.get(self.attr('href'), function(data){
                    if(data === true) {
                        self.parent().remove();
                    } else {
                        var msg = data === false
                            ? "Произошла ошибка при удалении изображения." 
                            : data;
                        alert(msg);
                    }
                });
            });
        });

block content
    section.content
        .row
            .col-md-10
                .box.box-primary
                    .box-header
                        .box-title= "Редактирование статьи энциклопедии"
                    form(role="form" enctype="multipart/form-data" method="post" action="/admin/quizes")
                        .box-body
                            if quiz._id
                                input(type="hidden" name="id" value=quiz._id)
                            .form-group
                                label(for="title")= "Название:"
                                input.form-control(type="text" name="title" placeholder="Название статьи" value=quiz.title)
                            .form-group
                                .checkbox
                                    label
                                        if quiz.active == false
                                            input(type="checkbox" name="active")
                                        else
                                            input(type="checkbox" name="active" checked)
                                        span= " Активен?"
                            .form-group
                                .checkbox
                                    label
                                        input(type="checkbox" 
                                            name="recommended" 
                                            checked=(quiz.recommended == true)
                                        )
                                        span= " Рекомендован?"
                            .form-group
                                label(for="desc_shorttext")= "Краткий текст описания:"
                                textarea.textarea(
                                    name="desc_shorttext" 
                                    placeholder="Короткое описание статьи" 
                                )= quiz.desc_shorttext

                            .form-group
                                label(for="desc_text")= "Текст описания:"
                                textarea.textarea(
                                    name="desc_text" 
                                    placeholder="Текст описания статьи" 
                                )= quiz.desc_text
                            .form-group
                                label(for="background")= "Изображение фона"
                                input(type="file" name="background")
                                if quiz.background
                                    div
                                        img.img-thumbnail(src="/img/#{quiz.background}")
                            .form-group
                                label(for="desc_image")= "Изображения (может быть более одного):"
                                input(type="file" name="desc_image" multiple)
                                if quiz.desc_image
                                    each img in quiz.desc_image
                                        .img-container
                                            img.img-thumbnail.clearfix(src="/img/#{img}")
                                            a.t-removeImage(href="/admin/quizes/deleteimg/#{quiz._id}/#{img}")
                                                i.removeImage.glyphicon.glyphicon-remove
                                    .clearfix
                            .form-group
                                label(for="author")= "Автор:"
                                select.choosed.form-control(name="author")
                                    option(value="0")= "{редакция}"
                                    each item in client
                                        option(
                                            value=item._id
                                            selected=(quiz.author && item._id.toString() == quiz.author.toString())
                                            )= item.login
                            .form-group
                                label(for="years")= "Возраст статьи:"
                                select.choosed.form-control(name="years")
                                    each item in years
                                        option(
                                            value=item._id
                                            selected=(quiz.years && item._id.toString() == quiz.years.toString())
                                            )= item.name
                            .form-group
                                label(for="theme")= "Тема:"
                                select.choosed.themed.form-control(name="theme")
                                    each item in theme
                                        option(
                                            value=item._id
                                            selected=(quiz.theme && item._id.toString() == quiz.theme.toString())
                                            )= item.name
                                .panel.panel-default
                                    .panel-heading= "Теги темы:"
                                    .panel-body.t-tagPanel
                                        if quiz.theme && themeAdjustedObject[quiz.theme]
                                            each item in themeAdjustedObject[quiz.theme]
                                                div
                                                    input(type="checkbox" value=item._id name="tags" checked=(cTags[item._id] == true))
                                                    label(for="tags")= item.name
                                .panel.panel-primary
                                    .panel-heading= "Варианты опроса:"
                                    .panel-body
                                        input.btn.btn-primary.t-addAnswer(type='button' value='Добавить вариант')
                                        section.content
                                            .panel.panel-primary
                                                .panel-body
                                                    | Внимание, при переименовании варианта опроса набранные им голоса останутся учтенными!
                                    .panel-body.t-answerCont
                                        if quiz.quiz
                                            each item in quiz.quiz
                                                div.toDrag
                                                    label(for="quizname")
                                                        span= "Текст варианта опроса:"
                                                        span.badge.t-removeAnswer
                                                            i.glyphicon.glyphicon-remove
                                                    input(type='hidden' name='quiz_id' value=item._id)
                                                    textarea.textarea(
                                                        name="quizname" 
                                                        placeholder="Текст варианта опроса" 
                                                    )= item.name

                        .box-footer
                            button.btn.btn-primary(type="submit")= "Сохранить изменения"