.article_bottom
	.interesting_title
		.half.left
			.adorable_table
				.adorable_cell
					| Вам будет интересно
		
		.half.right
			.adorable_table
				.adorable_cell
					span.slideLeft
						img.left_arrow(src="/img/user/article/left_arrow.png")
					span 3 / 5
					span.slideRight
						img.right_arrow(src="/img/user/article/right_arrow.png")

	.interesting_content

		- each similarArticle, similarArticleKey in similarArticles

			//- .item.column
			//- 	.item_topper.adorable_table
			//- 		.adorable_cell
			//- 			.top_label #{similarArticle.theme.name}
			//- 			.label #{similarArticle.title}
				
			//- 	.item_body(style=(similarArticle.image && similarArticle.image.background ? "background-image: url('/img/uploads/#{similarArticle.image.background}')" : ''))
				
			//- 	.item_footer.adorable_table
			//- 		.adorable_cell 396 мам одобряют
			
			- var classname = ''
			- var articleType = ''
			if similarArticle.type.name === 'Статья от редакции' 
				- articleType = 'redaction'
			else if similarArticle.type.name === 'Тема недели' 
				- articleType = 'week'
			else 
				- articleType = 'author'

			

			- classname += (!similarArticle.image || !similarArticle.image.background ? ' no-image' : '')
			- classname += similarArticle.is_quiz ? ' poll' : '';
			
			- classname += ' ' + articleType

			a(class="new_module card #{classname}" href="/article/" + similarArticle._id)
				.inner					
					if similarArticle.image && similarArticle.image.background
						img.background(src='/img/uploads/' + similarArticle.image.background)
				
					
					.topper
						.topper_label
							.adorable_table
								.adorable_cell= similarArticle.theme[0].name 

						.topper_title= similarArticle.title
						.topper_text= similarArticle.desc.shorttext

					if similarArticle.is_quiz
						.topper_approve
							span.count= (similarArticle ? similarArticle.answer.length : '{{answer.length}}')
							span.approve
								div мамочек
								div ответили

					if similarArticle.is_quiz
						.button_content.gold
							button.me_too Я тоже
											
					if articleType === 'author' && similarArticle.is_quiz === false
						.user_content
							.avatar.medical_cap
								img.rounded(src='/img/avatar_100x100.jpg')
							.name врач-педиатр
							.name Ирина Матвиенко
					
					
					.footer
						.heart
							img(src="/img/user/article/heart.png")
							if similarArticle.recommended
								img(src="/img/user/helpers/cards/lamp.png")
							
						.counters.adorable_table
							.adorable_cell
								img.like(src="/img/user/article/heart.png")
								span.count= (similarArticle ? similarArticle.counter.like : '{{counter.like}}')
								span.approve
									| мамочек
									br
									| одобряют
								
								img.comment(src="/img/user/article/comment.png")
								span.count= (similarArticle ? similarArticle.counter.comment : '{{counter.comment}}')

	.comments
		.comments_topper
			.comments_title Коментарии
			.comments_all Все 12
		
		.comments_container
			.item
				.comment_table
					.icon
						img(src='/img/user/article/comment_icon.png')
					.image
						.avatar.rounded
							img.rounded(src='/img/avatar_100x100.jpg')
					.text
						.time 15 сен.
						.name Ирина
						div У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали.
					.rating
						div
							img.plus(src='/img/user/article/plus.png')
							.number 19
							img.minus(src='/img/user/article/minus.png')
			
			.item
				.comment_table
					.icon
						img(src='/img/user/article/comment_icon.png')
					.image
						.avatar.rounded
							img.rounded(src='/img/avatar_100x100.jpg')
					.text
						.time 15 сен.
						.name Ирина
						div У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали. У меня столько друзей и родственников, рожденных в апреле, и ни одного правильно не назвали.
					.rating
						div
							img.plus(src='/img/user/article/plus.png')
							.number 19
							img.minus(src='/img/user/article/minus.png')

	.comment_box
		.comment_table
			.image
				.avatar.rounded
					img.rounded(src='/img/avatar_100x100.jpg')
			
			.form_container
				form.comment_form
					textarea(name="text", placeholder="А что Вы думаете по этому поводу?")
					.bottom.adorable_table
						.adorable_cell
							button.comment_button Высказаться
							img.clip(src="/img/user/article/clip.png")
							span.attach Прикрепить фото

	.login_box
		.info.column.double
			.adorable_table
				.adorable_cell
					.warning Добавлять комментарии могут только авторизированные пользователи
					.explanation
						| Есть что сказать? Авторизируйся и используй 
						span.italic все приимущества
						|  своего профиля!
					
					.links
						a.login(href="/login", class="new_module") Вход
						span /
						a.register(href="/registration", class="new_module") Регистрация
