.article_bottom
	.interesting_title
		.half.left
			.adorable_table
				.adorable_cell
					| Вам будет интересно

		.half.right
			.adorable_table
				.adorable_cell
					span.slideLeft
						img.left_arrow(src="/img/user/article/left_arrow.png")

					- var similarArticlesAmount = 3
					if similarArticles && similarArticles.length
						- similarArticlesAmount = similarArticles.length
					- var displayedAmount = 3
						if similarArticlesAmount < 3
							- displayedAmount = similarArticlesAmount
					span #{displayedAmount} / #{similarArticlesAmount}
					span.slideRight
						img.right_arrow(src="/img/user/article/right_arrow.png")
	.slider-wrap
		.interesting_content

			- each similarArticle, similarArticleKey in similarArticles

				//- .item.column
				//- 	.item_topper.adorable_table
				//- 		.adorable_cell
				//- 			.top_label #{similarArticle.theme.name}
				//- 			.label #{similarArticle.title}

				//- 	.item_body(style=(similarArticle.image && similarArticle.image.background ? "background-image: url('/img/uploads/#{similarArticle.image.background}')" : ''))

				//- 	.item_footer.adorable_table
				//- 		.adorable_cell 396 мам одобряют

				- var likesAmount = similarArticle.likes ? similarArticle.likes.length : 0
				- var commentariesAmount = similarArticle.commentaries ? similarArticle.commentaries.length : 0

				- var classname = ''
				- var articleType = ''
				if similarArticle.type.name === 'Статья от редакции'
					- articleType = 'redaction'
				else if similarArticle.type.name === 'Тема недели'
					- articleType = 'week'
				else
					- articleType = 'author'



				- classname += (!similarArticle.image || !similarArticle.image.background ? ' no-image' : '')
				- classname += similarArticle.is_quiz ? ' poll' : '';

				- classname += ' ' + articleType

				a(class="new_module card #{classname}" href="/article/" + similarArticle.transliterated)
					.inner(style=( similarArticle && similarArticle.image && similarArticle.image['S'] ? "background-image: url(/img/uploads/" + similarArticle.image['S'] + ");" : ''))
						.topper.bg
							.topper_label
								.adorable_table
									.adorable_cell=(similarArticle.theme[0] && similarArticle.theme[0].name ? similarArticle.theme[0].name : '')
							.topper_title= similarArticle.title
							.topper_text= similarArticle.desc.shorttext
							if similarArticle.hasVideo
								.topper_play

							if similarArticle.is_quiz

								- var answersAmount = 0;
								if a
									- each ans, ind in similarArticle
										if ans.clients
											answersAmount = answersAmount + ans.clients.length

								.topper_approve
									span.count.commentariesCount(data-component_id="#{similarArticle._id}")
										| #{answersAmount}
									span.approve
										div мамочек
										div ответили

						if similarArticle.is_quiz

							.button_content.gold
								button.me_too Я тоже

						if articleType === 'author' && similarArticle.is_quiz === false
							.user_content
								.avatar.medical_cap
									img.rounded(src='/img/user/specialist/doc_mini.jpg')
								.name врач-педиатр
								.name Ирина Матвиенко


						- var isLiked = ''
						if user
							- var userId = user._id

							if similarArticle.likes
								- each like, likeKey in similarArticle.likes
									if like.client.toString() == userId.toString()
										- isLiked = 'isLiked'

						div(class="footer #{isLiked}")
							.heart
								img.liked(src="/img/user/article/heart.png")
								img.not-liked(src="/img/user/article/heart-.png")

								if similarArticle.recommended
									img(src="/img/user/helpers/cards/lamp.png")

							.counters.adorable_table
								.adorable_cell
									img.j-disabled.like.liked(src="/img/user/article/heart.png", data-component_id="#{similarArticle._id}", data-component="Article")
									img.j-disabled.like.not-liked(src="/img/user/article/heart-.png", data-component_id="#{similarArticle._id}", data-component="Article")

									span.count.like(data-component_id="#{similarArticle._id}")= (similarArticle ? likesAmount : '{{likesAmount}}')
									span.approve
										| мамочек
										br
										| одобряют

									img.comment(src="/img/user/article/comment.png")
									span.count.commentariesCount(data-component_id="#{similarArticle._id}")
										| #{commentariesAmount}

		- var commentVisibility = 'none'
		- var loginVisibility = 'block'
		if user && user._id
			- commentVisibility = 'block'
			- loginVisibility = 'none'

	.comments
		.comments_topper
			.comments_title Коментарии
			.comments_all.all Все
				span.commentariesCount(data-component_id="#{article._id}")
					|  #{commentariesAmount}
			.comments_all.hide(style="display: none;") Скрыть

		.comments_container

			if article.commentaries

				- each commentaryItem, commentaryKey in article.commentaries

					- var date = new Date(commentaryItem.date);
					- var day = date.getDate();
					- var monthNames = [ "янв", "фев", "мар", "апр", "мая", "июн", "июл", "авг", "сен", "окт", "ноя", "дек" ];
					- var month = monthNames[date.getMonth()]

					- var commentaryRating = commentaryItem.scoreInc - commentaryItem.scoreDec

					.item
						.comment_table
							.icon
								img(src='/img/user/article/comment_icon.png')
							.image
								.avatar.rounded
									- var avatarPath = "/img/user/helpers/stub/small.png"
									if commentaryItem.client && commentaryItem.client.image
										- avatarPath = commentaryItem.client.image
									img.rounded(src=avatarPath)
							.text
								.time
									| #{day} #{month}.
								if commentaryItem.client && commentaryItem.client.profile && commentaryItem.client.profile.first_name
									.name #{commentaryItem.client.profile.first_name}
								div
									| #{commentaryItem.content}

							.rating
								div
									img.plus(src='/img/user/article/plus.png', data-model="Article", data-component_id="#{article._id}", data-commentary_id="#{commentaryItem._id}")
									.number
										| #{commentaryRating}
									img.minus(src='/img/user/article/minus.png', data-model="Article", data-component_id="#{article._id}", data-commentary_id="#{commentaryItem._id}")


		.comment_box(style="display: #{commentVisibility}")
			.comment_table
				.image
					.avatar.rounded
						- var avatarPath = "/img/user/helpers/stub/small.png"
						if user && user.image && user.image.small
							img.rounded(src="#{user.image.small}")
						else
							img.rounded(src="/img/user/helpers/stub/small.png")

				.form_container
					form.comment_form
						input(type='hidden', name='_id', value='#{article._id}')
						input(type='hidden', name='model', value='Article')
						textarea(name="content", placeholder="А что Вы думаете по этому поводу?")
						.bottom.adorable_table
							.adorable_cell
								button.comment_button Откомментировать
								//img.clip(src="/img/user/article/clip.png")
								//span.attach Прикрепить фото

	.login_box(style="display: #{loginVisibility}")
		.info.column.double
			.adorable_table
				.adorable_cell
					.warning Добавлять комментарии могут только авторизированные пользователи
					.explanation
						| Есть что сказать? Авторизируйся и используй
						span.italic
							|  все преимущества
						|  своего профиля!

					.links
						a.login(href="/login", class="new_module") Вход
						span /
						a.register(href="/registration", class="new_module") Регистрация
