mixin feed()
    .filters(style="{{#unless feedLength}}display: none;{{/unless}}")
        select.feed_select
            option(data-count="{{plus themeSubs authorSubs}}" value=0) Все подписки
            option(data-count="{{themeSubs}}" value=1)= '{{#is themeSubs 0}}Подписки на темы пока отсутствуют{{else}}Подписки на тему{{/is}}'
            option(data-count="{{consultations}}" value=3) Вопросы специалисту
        
        select.order_select
            option(value = 'date') Сначала новые
            option(value = '-date') Сначала старые
        
        .icons
            .icon.eye(data-filter="watchers")
                .adorable_table
                    .adorable_cell
                        img(src="/img/user/specialist/eye.png")
            
            .icon.lamp(data-filter="recommended")
                .adorable_table
                    .adorable_cell
                        img(src="/img/user/specialist/lamp.png")
            
            .icon.check(data-filter="spec")
                .adorable_table
                    .adorable_cell
                        img(src="/img/user/specialist/check.png")
    .feedWrap
        | {{#each feed}}
        - var classname = '{{getClassName . @index module}} {{articleType . @index}}'
        a(class="new_module card #{classname}" href="/article/{{transliterated}}")
            .inner(style='{{getBg . @index module}}')
                .topper.bg
                    .topper_label
                        .adorable_table
                            .adorable_cell= '{{theme.0.name}}{{theme.name}}'

                    .topper_title= '{{title}}{{name}}'
                    .topper_text= '{{desc.shorttext}}'
                        | {{#if is_quiz}}
                        .topper_approve
                            span.count= '{{answer.length}}'
                            span.approve
                                div мамочек
                                div ответили
                        .button_content.gold
                            button.me_too= '{{checkAnswer .}}'
                        | {{/if}}
                | {{#is type.name 'Статья от специалиста'}}
                .user_content
                    .avatar.medical_cap
                        img.rounded(src='/img/user/specialist/doc_mini.jpg')
                    .name врач-педиатр
                    .name Ирина Матвиенко
                | {{/is}}
                | {{#is type.name "Статья от пользователя"}}
                .user_content
                    //- | {{#if author.name}}
                    //- .user
                    //-     .avatar
                    //-         img.rounded(src='/img/avatar_100x100.jpg')
                    //-     .name '{{autor.name}}'
                    //- | {{/if}}
                    .user.doctor
                        .avatar.medical_cap
                            img.rounded(src='/img/user/specialist/doc_mini.jpg')
                        .name врач-педиатр
                        .name Ирина Матвиенко
                | {{/is}}
                div(class="footer toggleWatch {{isLiked .}} {{isWatched .}}")
                    .heart
                        | {{#is type.name "Статья от пользователя"}}
                        img.watched(src="/img/user/helpers/cards/red_eye.png")
                        img.not-watched(src="/img/user/helpers/cards/eye.png")
                        | {{else}}
                        img.liked(src="/img/user/article/heart.png")
                        img.not-liked(src="/img/user/article/heart-.png")
                        | {{/is}}
                        | {{#isSpecAns .}}
                        img(src="/img/user/helpers/cards/check.png")
                        | {{/isSpecAns}}
                        | {{#if recommended}}
                        img(src="/img/user/helpers/cards/lamp.png")
                        | {{/if}}
                        
                    .counters.adorable_table
                        .adorable_cell
                            | {{#is type.name "Статья от пользователя"}}
                            img.watch.watched(src="/img/user/helpers/cards/red_eye.png", data-component_id='{{_id}}')
                            img.watch.not-watched(src="/img/user/helpers/cards/eye.png", data-component_id='{{_id}}')
                            span.count.watch(data-component_id='{{_id}}')= '{{watchers.length}}'
                            span.approve
                                | мамочек
                                br
                                | наблюдают
                            | {{else}}
                            img.like.liked(src="/img/user/article/heart.png", data-component_id='{{_id}}', data-component="Article")
                            img.like.not-liked(src="/img/user/article/heart-.png", data-component_id='{{_id}}', data-component="Article")
                            span.count.like(data-component_id='{{_id}}')= '{{likes.length}}'
                            span.approve
                                | мамочек
                                br
                                | одобряют
                            | {{/is}}
                            img.comment(src="/img/user/article/comment.png")
                            span.count.commentariesCount= '{{commentaries.length}}'
                                |{{#is type.name "Статья от специалиста"}}{{answer.length}}{{/is}}
                                |{{#is type.name "Статья от пользователя"}}{{answer.length}}{{/is}}

        | {{/each}}
    | {{#unless feedLength}}
    h1.centered.emtyFeed Ваша лента пока пуста
    | {{/unless}}
