- var likesAmount = article.likes ? article.likes.length : 0;
- var commentariesAmount = article.commentaries ? article.commentaries.length : 0;

- var isLiked = ''
if user
	- var userId = user._id
	if article.likes
		- each like, likeKey in article.likes
			if like.client.toString() == userId.toString()
				- isLiked = 'isLiked'

if article.image
	.bg.articleBackground
		div.bgImageWrapper
			.darkenBg
			img(src=(article.image && article.image.B ? "/img/uploads/#{article.image.B}" : "/img/uploads/#{article.image.background}") itemprop="image")
	//.articleBackground.bg(style=(article.image && article.image.B ? 'background-image: url("/img/uploads/#{article.image.B}");' : 'background-image: url("/img/uploads/#{article.image.background}");'))
	//	.darkenBg

.content(itemscope itemtype="http://schema.org/BlogPosting")
	include ../helpers/breadcrumbs

	.scrollToTop
	
	.topper_title
		| #{article.theme.name}
	
	.title
		.label.adorable_table
			.adorable_cell(itemprop="name")
				| #{article.title}
		
		.middle
			.column.feedback
				.adorable_table
					div(class="adorable_cell toggleLike #{isLiked}")
						img.like.liked(src="/img/user/article/heart.png", data-component_id="#{article._id}", data-component="Article")
						img.like.not-liked(src="/img/user/article/heart-.png", data-component_id="#{article._id}", data-component="Article")

						span.count.like(data-component_id="#{article._id}")
							| #{likesAmount}
						span.approve
							| мамочек
							br
							| одобряют

						span.scrollToComments
							img.comment(src="/img/user/article/comment.png")
							span.count.commentariesCount(data-component_id="#{article._id}")
								| #{commentariesAmount}

			//.column
			//	.adorable_table
			//		.adorable_cell
			//			.rounded.avatar
			//				img.rounded(src='/img/avatar_100x100.jpg')
						
			
			.column.social
				.adorable_table
					.adorable_cell
						.social_button
							.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
						
						//.social_button
						//	a(href="https://twitter.com/share" class="twitter-share-button") Tweet
						
						.social_button
							div(id="vk_top_article-" + params.id)
						
						.social_button
							div(id="ok_top_article-" + params.id)
						
						.social_button
							.g-plusone(data-size="medium")

		//.bottom
		//	.top_label Ирина Потапенко
		//	.bottom_label Детки: мальчик и девочка
	
	if article.is_quiz

		.poll_container
			.text
				| !{article.desc.text}

			.center.pollContentWrapper
				if userVoted
					.plz Вы уже проголосовали в этом опросе

				else
					form(name='pollForm', class='pollForm options_container')

						input(type="hidden", name="article", value="#{article._id}")

						.options_container

								- each answerItem, answerKey in article.answer
									.option
										.radio_cell
											.checkbox
												input(name="answer", type="radio", value="#{answerItem._id}")
												label
													.img
										.label #{answerItem.text}

						.bottom.adorable_table
							.adorable_cell
								button.poll_button(type="submit", style=(user ? '' : 'display: none')) Проголосовать

					.plz Для того чтобы посмотреть результаты опроса, вам тоже необходимо в нем поучаствовать.

				.social
					.social_button
						.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")

					//.social_button
					//	a(href="https://twitter.com/share" class="twitter-share-button") Tweet

					.social_button
						div(id="vk_top_poll_" + params.id)

					.social_button
						div(id="ok_top_poll_" + params.id)

					.social_button
						.g-plusone(data-size="medium")

			.login_box(style=(user ? 'display: none' : ''))
				.info.column.double
					.adorable_table
						.adorable_cell
							.warning Добавлять комментарии могут только авторизированные пользователи
							.explanation
								| Есть что сказать? Авторизуйтесь и используйте
								span.italic
									|  все преимущества
								|  своего профиля!
								.links
								a.login(href="/login", class="new_module") Вход
								span /
								a.register(href="/registration", class="new_module") Регистрация

			.footer
				.adorable_table
					div(class="adorable_cell toggleLike #{isLiked}")
						img.like.liked(src="/img/user/article/heart.png", data-component_id="#{article._id}", data-component="Article")
						img.like.not-liked(src="/img/user/article/heart-.png", data-component_id="#{article._id}", data-component="Article")
						span.count.like(data-component_id="#{article._id}")
							| #{likesAmount}
						span.approve
							| мамочек
							br
							| одобряют
						
						img.comment(src="/img/user/article/comment.png")
						span.count.commentariesCount(data-component_id="#{article._id}")
							| #{commentariesAmount}

		.poll_container.answered
			.center
				.title
					.question
						.question_info
							.adorable_table
								.adorable_cell Воспитание и уход за малышом — ответственный и сложный процесс. Вот почему нам необходимо знать ваше мнение по этому вопросу.
					
					div Результаты опроса:
				
				.options_container.pollResults(style=(userVoted ? '' : 'display: none'))

					- each answerItem, answerKey in article.answer

						.option
							.radio_cell #{answerItem.percent}%
							.label
								div #{answerItem.text}
								.progress_line
									.progress(style="width: #{answerItem.percent}%;")
				
				.plz(style=(userVoted ? 'display: none' : '')) Для того чтобы посмотреть результаты опроса, вам тоже необходимо в нем поучаствовать.
				.social
					.social_button
						.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
					
					//.social_button
					//	a(href="https://twitter.com/share" class="twitter-share-button") Tweet
					
					.social_button
						div(id="vk_bottom_poll_" + params.id)
					
					.social_button
						div(id="ok_bottom_poll_" + params.id)
					
					.social_button
						.g-plusone(data-size="medium")

	else
		.article_content
			.left.column.double
				.left_content
					.date
						.adorable_table
							.adorable_cell

								- var date = new Date(article.updated);
								- var day = date.getDate();
								- var monthNames = [ "Января", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря" ];
								- var month = monthNames[date.getMonth()];
								- var year = date.getFullYear();
								- var hours = date.getHours();
								- var minutes = (date.getMinutes()<10?'0':'') + date.getMinutes()

								span.day_month_year #{day} #{month} #{year}
								span.time #{hours}:#{minutes}
					
					.text
						| !{article.desc.text}
					
					.social
						.social_button
							.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
						
						//.social_button
						//	a(href="https://twitter.com/share" class="twitter-share-button") Tweet
						
						.social_button
							div(id="vk_bottom_article-" + params.id)
						
						.social_button
							div(id="ok_bottom_article-" + params.id)
						
						.social_button
							.g-plusone(data-size="medium")

					.copyright
						p.Body(style='text-align: justify; line-height: 1.5;')
							span(style='color: rgb(156, 156, 148);')
								span(style='font-family: "PT Sans", sans-serif; font-size: 16px; line-height: 1.5;')
									br
								span(style='font-family: "PT Sans", sans-serif; font-size: 10pt; line-height: 115%; text-indent: 42.55pt;')
									| Вся информация на этом сайте представлена
									| только для ознакомления и не может быть использована для диагностики и лечения.
									| Пожалуйста, обязательно консультируйтесь с врачом по всем вопросам, связанным
									| со здоровьем и самочувствием взрослых и детей.
				
				.footer
					.half.left
						.adorable_table
							.adorable_cell.scrollToComments
								img.comment(src="/img/user/article/comment.png")
								span.count.commentariesCount(data-component_id="#{article._id}")
									| #{commentariesAmount}
								span.slash / 
								span.post_comment Комментировать
								
					.half.right
						.adorable_table
							div(class="adorable_cell toggleLike #{isLiked}")
								img.like.liked(src="/img/user/article/heart.png", data-component_id="#{article._id}", data-component="Article")
								img.like.not-liked(src="/img/user/article/heart-.png", data-component_id="#{article._id}", data-component="Article")
								span.count.like(data-component_id="#{article._id}")
									| #{likesAmount}
								span.slash /
								span.post_like Одобрить
			
			.right.column
				.question.adorable_table
					.adorable_cell
						.title Появился вопрос?
						.subtitle Задайте его специалисту!
						.avatar.cap
							img.rounded(src='/img/user/specialist/doc_mini.jpg')
						.name Ирина Матвиенко
						.info Кандидат медицинских наук, старший научный сотрудник отделения медицинских проблем здорового ребенка и преморбидных состояний.
						button.ask_button(href="/specialist", class="new_module") Задать вопрос
			.clearfix
	
	include ../helpers/article_bottom
