extends ../layout

block append header
    link(href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css")
    style.
        img.img-thumbnail {
            max-height: 140px;
        }

block append scripts
    script(src="/js/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")

block content
    section.content
        .row
            .col-md-10
                .box.box-primary
                    .box-header
                        .box-title= "Редактирование сертификата"
                    form(role="form" enctype="multipart/form-data" method="post" action="/admin/certificate")
                        .box-body
                            if certificate._id
                                input(type="hidden" name="id" value=certificate._id)
                            .form-group
                                label(for="name")= "Название:"
                                input.form-control(type="text" name="name" placeholder="Название категории" value=certificate.name)

                            .form-group
                                label(for="image")= "Иконка возраста:"
                                if certificate.image
                                    div
                                        img.img-thumbnail(src="/img/#{certificate.image}")
                                input(type="file" name="image")
                                
                        .box-footer
                            button.btn.btn-primary(type="submit")= "Сохранить изменения"