doctype html
html(lang="ru")
	head
		block header
			meta(charset="UTF-8")
			title= "Агуша | Административная панель"
			meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
			style.
				.preloader {
					z-index: 9999;
					position: fixed;
					width: 100%;
					height: 100%;
					background: white;
				}

				.loader {
					position: absolute;
					top: 30%;
					left: 40%;
					width: 20%;
					height: auto;
				}

	body.skin-blue
		preloader.preloader
			img.loader(src="/img/loader.gif")
		header.header
			a.logo(href="dashboard")= "АдминЬ-панель"
			nav.navbar.navbar-static-top(role="navigation")
				a.navbar-btn.sidebar-toggle(href="#" data-toggle="offcanvas" role="button")
					span.sr-only= "Toggle navigation"
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-right
					ul.nav.navbar-nav
						li.dropdown.user.user-menu
							a.dropdown-toggle(href="#" data-toggle="dropdown")
								i.glyphicon.glyphicon-user
								span= user.username 
								i.caret
							ul.dropdown-menu
								li.user-footer
									.pull-left
										a.btn.btn-default.btn-flat(href="/admin/profile")= "Профиль"
									.pull-right
										a.btn.btn-default.btn-flat(href="/admin/logout")= "Выйти"
		.wrapper.row-offcanvas.row-offcanvas-left
			aside.left-side.sidebar-offcanvas
				section.sidebar
					ul.sidebar-menu
						li(class= (currentHref=='dashboard'?"active":""))
							a(href="/admin/dashboard")
								i.fa.fa-dashboard
								span= "Главная"
						li.treeview
							a(href="#")
								i.fa.fa-th
								span Энциклопедия
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href="/admin/encyclopedia-article")
										i.fa.fa-angle-double-right
										span= "Статьи"
								li
									a(href="/admin/encyclopedia-category")
										i.fa.fa-angle-double-right
										span= "Категории"
								li
									a(href="/admin/encyclopedia-articleType")
										i.fa.fa-angle-double-right
										span= "Типы статей"
						li(class= (currentHref=='faq'?"active":""))
							a(href="/admin/faq")
								i.fa.fa-question-circle
								span= "FAQ"
						li(class= (currentHref=='consultations'?"active":""))
							a(href="/admin/consultations")
								i.fa.fa-comments-o
								span= "Консультации"
						
			aside.right-side#moduleContent
				block content

		block scripts
			script(
				src="/js/plugins/steal/steal.js" 
				config-path="/js/app/config.js"
				main="js/app/admin/core/"
				  )