- var likesAmount = consultation.likes ? consultation.likes.length : 0;

- var isLiked = ''
if user
	- var userId = user._id
	if consultation.likes
		- each like, likeKey in consultation.likes
			if like.client.toString() == userId.toString()
				- isLiked = 'isLiked'

.bg.questionBackground
	div.bgImageWrapper
		.darkenBg
		img(src=(consultation.fixture))

.content
	include ../helpers/breadcrumbs

	.scrollToTop

	.topper_title
		| #{consultation.theme.name}
	
	.social
		.adorable_table
			.adorable_cell
				.social_button.fb
					.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
				
				//.social_button
				//	a(href="https://twitter.com/share" class="twitter-share-button") Tweet
				
				.social_button.vk
					div(id="vk_top_question_" + params.alias)
				
				.social_button.ok
					div(id="ok_top_question_" + params.alias)
				
				.social_button.gp
					.g-plusone(data-size="medium")
	
	.question_container
		.column.double.left
			.question_items
				.item
					.date
						if consultation.created
							- var date = new Date(consultation.created);
						else
							- var date = new Date(consultation.updated);

						- var day = date.getDate();
						- var monthNames = [ "Янв", "Фев", "Мар", "Апр", "Мая", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ];
						- var month = monthNames[date.getMonth()];

						| #{day} #{month}

					if consultation.author && consultation.author.author_id
						.item_table
							.avatar_column
								.avatar
									if consultation.author.author_id.image && consultation.author.author_id.image.small
										img.rounded(src="#{consultation.author.author_id.image.small}")
									else
										img.rounded(src="/img/user/helpers/stub/small.png")


							.content_column
								.info
									.name #{consultation.author.author_id.profile.first_name} #{consultation.author.author_id.profile.last_name}

									//.level
									//	span.league Мама профи
									//	img.star(src="/img/user/article/star.png")
									//	img.star(src="/img/user/article/star.png")
									//	img.star(src="/img/user/article/star.png")
									//	img.star(src="/img/user/article/star.png")
									//	img.star(src="/img/user/article/star.png")
									//
									//.children Детки: мальчик и девочка

								.title
									| #{consultation.name}

								.text
									| !{consultation.text}
				
				- each answerItem, answerKey in consultation.answer
					.item
						.date
							- var date = new Date(answerItem.date);
							- var day = date.getDate();
							- var monthNames = [ "Янв", "Фев", "Мар", "Апр", "Мая", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ];
							- var month = monthNames[date.getMonth()];

							| #{day} #{month}
						
						.item_table
							.avatar_column
								if answerItem.author && answerItem.author.author_id
									.avatar
										if answerItem.author.author_id.image && answerItem.author.author_id.image.small
											img.rounded(src="#{answerItem.author.author_id.image.small}")
										else
											img.rounded(src="/img/user/helpers/stub/small.png")
								else
									.avatar.medical_cap
										img.rounded(src="/img/user/specialist/doc_mini.jpg")
							
							.content_column
								.info
									if answerItem.author && answerItem.author.author_id
										.name #{answerItem.author.author_id.profile.first_name} #{answerItem.author.author_id.profile.last_name}
									else
										.name Ирина Матвиенко

										.level
											span.league Врач педиатр

										.children Детки: девочка
								
								.text !{answerItem.text}

			if user && consultation.author && consultation.author.author_id && consultation.author.author_id._id && consultation.author.author_id._id.toString() == user._id.toString()
				form.consultationResponse

					input(type="hidden" name="_id" value="#{consultation._id}")
					input(type="hidden" name="answer[author][author_id]" value="#{user._id}")
					input(type="hidden" name="answer[author][name]" value="#{user.profile.first_name} #{user.profile.last_name}")

					.authorImage
						if user.image
							img(src=(user.image.small ? user.image.small : '/img/user/helpers/stub/small.png'))
						else
							img(src=('/img/user/helpers/stub/small.png'))
					.responseBody
						textarea(name="answer[text]")
						.responseBottom
							button(type="submit") Высказаться
					.clearfix

			.footer
				.adorable_table
					div(class="adorable_cell toggleLike #{isLiked}")
						img.like.liked(src="/img/user/article/heart.png", data-component_id="#{consultation._id}", data-component="Consultation")
						img.like.not-liked(src="/img/user/article/heart-.png", data-component_id="#{consultation._id}", data-component="Consultation")

						span.count.like(data-component_id="#{consultation._id}")
							| #{likesAmount}
						span.slash / 
						span.post_like Одобрить
		
		.column.right
			.author
				.adorable_table
					.adorable_cell
						.label На вопрос отвечает
						
						.avatar
							img.rounded(src="/img/user/specialist/doc_mini.jpg")
						
						.author_name
							div Матвиенко
							div Ирина Николаевна
						
						.desc Кандидат медицинских наук, старший научный сотрудник отделения медицинских проблем  здорового ребенка и преморбидных состояний.
						
						button.author_button Задать вопрос
			
			//- .meta
			//- 	div Тема:
			//- 	div Планирование беременности
			//- 	div Возраст: 
			//- 	div Беременность / Планирование / До 1 годика
			//- 	div Теги:
			//- 	.tags
			//- 		.tag если вы
			//- 		.tag занимались йогой
			//- 		.tag раньше
			//- 		.tag скорее всего польза
			//- 		.tag йогических
			//- 		.tag упражнений
			//- 		.tag для будущих мам
			//- 		.tag вызывает у вас
			//- 		.tag сомнений
	
	.social.socialWrapper
		.adorable_table
			.adorable_cell
				.social_button
					.fb-like(data-href = current_url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="false")
				
				.social_button
					a(href="https://twitter.com/share" class="twitter-share-button") Tweet
				
				.social_button
					div(id="vk_bottom_question_" + params.alias)
				
				.social_button
					div(id="ok_bottom_question_" + params.alias)
				
				.social_button
					.g-plusone(data-size="medium")
	
	include ../helpers/interesting