extends ../layout

block append header
    link(href="/css/admin/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css")
    link(href="/js/plugins/chosen/chosen.css" rel="stylesheet" type="text/css")

block append scripts
    script(src="/js/admin/plugins/datatables/jquery.dataTables.js")
    script(src="/js/admin/plugins/datatables/dataTables.bootstrap.js")
    script(src="/js/plugins/chosen/chosen.jquery.min.js")
    script.
        $(function() {
            $('.choosed').chosen();
            $('#dtable').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });

block content
    .box
        .box-header
            h3.box-title= "Товары на главной"
        form(role="form" enctype="multipart/form-data" method="post" action="/admin/product/mainPage")
            .box-primary
                .box-body
                    .form-group
                        label(for="main1")= "Первый:"
                        select.choosed.form-control(name="main1")
                            each item in products
                                option(value=item._id selected=(item.main_page == 1))
                                    | #{item.title}
                    .form-group
                        label(for="main2")= "Второй:"
                        select.choosed.form-control(name="main2")
                            each item in products
                                option(value=item._id selected=(item.main_page == 2))
                                    | #{item.title}
                    .form-group
                        label(for="main3")= "Третий:"
                        select.choosed.form-control(name="main3")
                            each item in products
                                option(value=item._id selected=(item.main_page == 3))
                                    | #{item.title}
                .box-footer
                    button.btn.btn-primary(type="submit")= "Сохранить изменения"
    .box
        .box-header
            h3.box-title= "Список продуктов"
        .box-header
            .panel-primary
                .panel-body
                    a(href="product/create")
                        button.btn.btn-primary= "Создать новый продукт"
        .box-body.table-responsive
            table.table.table-bordered.table-striped(id="dtable")
                thead
                    tr
                        th= "Название"
                        th= "Активен?"
                        th= "Срок хранения"
                        th= "Состав"
                        th= "Объем"
                        th= "Возраст"
                        th= "Категории"
                        th= "Действия"
                tbody
                    each item in products
                        tr
                            td= item.title
                            td= (item.active?"Да":"Нет")
                            td= item.storage_life
                            td= item.composition
                            td= item.volume
                            td= item.age.title
                            td
                                each cat in item.category
                                    |#{cat.name}&nbsp;
                            td
                                div.col-md-6
                                    a(href="product/edit/#{item._id}")
                                        button.btn.btn-warning(type="button")
                                            i.glyphicon.glyphicon-edit
                                            span= " Редактировать"
                                div.col-md-6
                                    a(href="product/delete/#{item._id}")
                                        button.btn.btn-danger(type="button")
                                            i.glyphicon.glyphicon-remove-circle
                                            span= " Удалить"