extends ../layout

block append header
    link(href="/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css")
    style.
        img.img-thumbnail {
            max-height: 140px;
        }
        .textarea {
            width: 100%;
            height: 200px;
            font-size: 14px;
            line-height: 18px;
            border: 1px solid #dddddd;
            padding: 10px;
        }

block append scripts
    script(src="/js/admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
    script.
        $(function() {
            $(".textarea").wysihtml5();
        });

block content
    section.content
        .row
            .col-md-10
                .box.box-primary
                    .box-header
                        .box-title= "Редактирование возраста"
                    form(role="form" enctype="multipart/form-data" method="post" action="/admin/age")
                        .box-body
                            if age._id
                                input(type="hidden" name="id" value=age._id)
                            .form-group
                                label(for="title")= "Название:"
                                input.form-control(type="text" name="title" placeholder="Название возраста" value=age.title)

                            .form-group
                                label(for="icon")= "Иконка возраста:"
                                if age.icon
                                    div
                                        img.img-thumbnail(src="/img/#{age.icon}")
                                input(type="file" name="icon")

                            .form-group
                                label(for="level")= "Уровень:"
                                input.form-control(min="0" max="999" type="number" name="level" placeholder="Номер месяца доступа к кашке (база с 0 до 15)" value=age.level)
                            .form-group
                                .checkbox
                                    label
                                        if age.active == false
                                            input(type="checkbox" name="active")
                                        else
                                            input(type="checkbox" name="active" checked)
                                        span= " Активен?"
                            .form-group
                                label(for="desc_title")= "Название описания:"
                                input.form-control(type="text" name="desc_title" placeholder="Титул описания возраста" value=age.desc_title)
                            .form-group
                                label(for="desc_subtitle")= "Подназвание описания:"
                                input.form-control(type="text" name="desc_subtitle" placeholder="Саб-титул описания возраста" value=age.desc_subtitle)
                            .form-group
                                label(for="desc_text")= "Текст описания:"
                                textarea.textarea(
                                    name="desc_text" 
                                    placeholder="Текст описания возраста" 
                                )= age.desc_text
                            .form-group
                                label(for="desc_image")= "Изображение описания возраста:"
                                if age.desc_image
                                    div
                                        img.img-thumbnail(src="/img/#{age.desc_image}")
                                input(type="file" name="desc_image")
                                
                        .box-footer
                            button.btn.btn-primary(type="submit")= "Сохранить изменения"