extends ../layout

block append header
    link(href="/css/admin/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

block append scripts
    script(src="/js/admin/plugins/datatables/jquery.dataTables.js")
    script(src="/js/admin/plugins/datatables/dataTables.bootstrap.js")
    script.
        $(function() {
            $('#ages').dataTable({
                "bPaginate": true,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
        });

block content
    .box
        .box-header
            h3.box-title= "Список возрастов"
        .box-header
            .panel-primary
                .panel-body
                    a(href="age/create")
                        button.btn.btn-primary= "Создать новый возраст"
        .box-body.table-responsive
            table.table.table-bordered.table-striped#ages
                thead
                    tr
                        th= "Название"
                        th= "Уровень"
                        th= "Активный"
                        th= "Действия"
                tbody
                    each item in ages
                        tr
                            td= item.title
                            td= item.level
                            td= (item.active?"Да":"Нет")
                            td
                                div.col-md-6
                                    a(href="age/edit/#{item._id}")
                                        button.btn.btn-warning(type="button")
                                            i.glyphicon.glyphicon-edit
                                            span= " Редактировать"
                                div.col-md-6
                                    a(href="age/delete/#{item._id}")
                                        button.btn.btn-danger(type="button")
                                            i.glyphicon.glyphicon-remove-circle
                                            span= " Удалить"