extends ../layout

block append header
	link(href="/css/admin/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css")

block content
	.panel.panel-default
		.panel-heading
			h3.panel-title Список записей на экскурсию
		.panel-body
			table#tour_list.table.table-striped.table-bordered.table-hover
				thead
					tr
						th date
						th tour
						th firstname
						th lastname
						th patronymic
						th email
						th phone
						th city
						th children
						th active
						th is_read
				
				tbody
					- each t, key in tour_records
						tr
							td
								a(href="/admin/tour_record/#{t._id}") #{t.date}
							td
								- if (t.tour)
									#{t.tour.date}
							td #{t.firstname}
							td #{t.lastname}
							td #{t.patronymic}
							td #{t.email}
							td #{t.phone}
							td #{t.city}
							td
								- each c, j in t.children
									.panel.panel-default
										.panel-body
											div имя: #{c.name}
											div муж: #{c.gender}
											div возраст: #{c.age}
											div с родителями: #{c.withParents}
							td #{t.active}
							td #{t.is_read}

block append scripts
	script(src="/js/admin/plugins/datatables/jquery.dataTables.js")
	script(src="/js/admin/plugins/datatables/dataTables.bootstrap.js")
	script.
		$('#tour_list').dataTable({
			'iDisplayLength': 25,
			'aLengthMenu': [25,50,100],
			'aoColumns': [
					{sName: 'date'},
					{sName: 'tour'},
					{sName: 'firstname'},
					{sName: 'lastname'},
					{sName: 'patronymic'},
					{sName: 'email'},
					{sName: 'phone'},
					{sName: 'city'},
					{'bSortable':false},
					{'bSortable':false},
					{'bSortable':false}
				]
		});