.prizes_topper
	.calendar
		.topper.adorable_table
			.adorable_cell Мая
		
		.number.adorable_table
			.adorable_cell 7
	
	.title Призы в апреле
	
	.closest
		div Ближайший
		div розыгрыш!

| {{#each prizes}}
.prizeGroup(style="{{showPrizes allPrizes ../points .}}", data-index = "{{@index}}")
	.prizes_topper
		.you_participate
			.half.left
				.adorable_table
					.adorable_cell= '{{raffleLable ../points .}}'
			
			.half.right
				.adorable_table
					.adorable_cell
						img.left_arrow(src="/img/user/article/left_arrow.png")
						span
							span.currentPage 1
							span  / 
							span.pages 1
						img.right_arrow(src="/img/user/article/right_arrow.png")
	
	.cards_container
		.column.level_card
			.adorable_table
				.adorable_cell
					.your_level= '{{lvlLabel ../points .}}:'
					.level_title= '{{label}}'
					.level_img
						img(src="/img/user/moneybox/{{name}}_logo.png")
					.level_prize Приз для уровня:
					.prize_name
						div= '{{prizeName}}'
						div= '{{prizeQty}}'
		
		.images_container
			.images_inside
				| {{#each prizes}}
				.column.moneybox_card(data-index = "{{@index}}")
					.card_images
						.img_container
							| {{#each .}}
							img.card_image.card_image_selector(src="{{.}}", class = "card_image_{{@index}}{{#is @index 0}} active{{/is}}", data-index = "{{@index}}")
							| {{/each}}
						
						.bottom
							.arrow.left
							.circles
								| {{#each .}}
								.circle.card_image_selector(class = "card_image_{{@index}}{{#is @index 0}} active{{/is}}", data-index = "{{@index}}")
								| {{/each}}
							.arrow.right
				| {{/each}}
| {{/each}}

.all_prizes
	button.hide_title Скрыть призы апреля
	button.all_title.active Все призы апреля