.prizes_topper
	.calendar
		.topper.adorable_table
			.adorable_cell Дек
		
		.number.adorable_table
			.adorable_cell 23
	
	.title Призы в декабре
	
	.closest
		div Ближайший
		div розыгрыш!

| {{#each prizes}}
.prizeGroup(style="{{showPrizes allPrizes ../points .}}")
	.prizes_topper
		.you_participate
			.half.left
				.adorable_table
					.adorable_cell= '{{raffleLable ../points .}}'
			
			.half.right
				.adorable_table
					.adorable_cell
						img.left_arrow(src="/img/user/article/left_arrow.png")
						span 1 / 3
						img.right_arrow(src="/img/user/article/right_arrow.png")
	.cards_container
		.column.level_card
			.adorable_table
				.adorable_cell
					.your_level= '{{lvlLabel ../points .}}:'
					.level_title= '{{label}}'
					.level_img
						img(src="/img/user/moneybox/{{name}}_logo.png")
					.level_prize Приз для уровня:
					.prize_name
						div= '{{prizeName}}'
						div= '{{prizeQty}}'
		| {{#each prizes}}
		.column.moneybox_card
			.card_images
				.img_container
					img.active(src="{{.}}")
				.bottom
					.arrow.left
					.circles
						.circle.active
						.circle
						.circle
					.arrow.right
		| {{/each}}
| {{/each}}

.all_prizes
	button.hide_title Скрыть призы декабря
	button.all_title.active Все призы декабря
