- var gender = ['', 'мальчик', 'девочка']

mixin winner_child(c, key, length)
	div=c
	div=key
	div=length
	span #{gender[c]}
	if (key + 1) != length
		span , 

mixin winner(w)
	.table_item
		.winner_image
			img(src=(w.image && w.image.medium ? w.image.medium : '/img/user/helpers/stub/medium.png'))
		.winner_name #{w.profile.first_name} #{w.profile.middle_name} #{w.profile.last_name}
		
		if w.children && w.children.length
			.children
				span Детки: 
				- each c, key in w.children
					mixin winner_child(c, key, w.children.length)

mixin congratz()
	.congratz.adorable_table
		.adorable_cell Поздравляем победителей февральского розыгрыша!

mixin your_prize()
	.your_prize.adorable_table
		.adorable_cell Ваш подарок

mixin winners_note()
	.winners_note.adorable_table
		.adorable_cell
			div Победители были выбраны случайным образом среди всех пользователей данного уровня. 
			br
			div Мы разыгрываем полезные и интересные подарки для ваших малышей каждый месяц.
			div Возможно, в следующий раз повезет именно вам. Удачи!

.tab_content.tab_selector.winners(class = (test ? 'active' : ''))
	.winner_title
		.adorable_table
			.adorable_cell.left Результаты розыгрыша
		
		.calendar
			.topper.adorable_table
				.adorable_cell Март
			
			.number.adorable_table
				.adorable_cell 2
	
	.winners_topper.adorable_table
		.winners_td.level Уровень
		.winners_td.prize Приз
		.winners_td.count Победители
	
	.tab_block.faq_block.winners_novice
		.title
			.adorable_table
				.winners_td.level
					.level_content
						.adorable_table
							.adorable_cell.left
								.rank_title Новичок
				
				.winners_td.prize Силиконовый слюнявчик
				
				.winners_td.count
					.counter 10
		
		.text
			mixin congratz()
			
			.winner_list
				.fixed_table
					- each w, key in winners.novice
						mixin winner(w)
			
			mixin your_prize()
			
			.prize_image_container
				.prize_image_arrow.left_arrow
				.prize_image_arrow.right_arrow
				img(src="/img/user/moneybox/polotenca/prize_towel.png")
			
			.prize_name Силиконовый слюнявчик
			
			mixin winners_note()
	
	.tab_block.faq_block.winners_disciple
		.title
			.adorable_table
				.winners_td.level
					.level_content
						.adorable_table
							.adorable_cell.left
								.rank_title УЧЕНИК
				
				.winners_td.prize Полотенце с капюшоном
				
				.winners_td.count
					.counter 5
		
		.text
			mixin congratz()
			
			.winner_list
				.fixed_table
					- each w, key in winners.disciple
						mixin winner(w)
			
			mixin your_prize()
			
			.prize_image_container
				.prize_image_arrow.left_arrow
				.prize_image_arrow.right_arrow
				img(src="/img/user/moneybox/polotenca/prize_towel.png")
			
			.prize_name Полотенце с капюшоном
			
			.winners_note.adorable_table
				.adorable_cell
					div Победители были выбраны случайным образом среди всех пользователей данного уровня. 
					br
					div Мы разыгрываем полезные и интересные подарки для ваших малышей каждый месяц.
					div Возможно, в следующий раз повезет именно вам. Удачи!
	
	.tab_block.faq_block.winners_adept
		.title
			.adorable_table
				.winners_td.level
					.level_content
						.adorable_table
							.adorable_cell.left
								.rank_title ЗНАТОК
				
				.winners_td.prize Детская постель
				
				.winners_td.count
					.counter 4
		
		.text
			mixin congratz()
			
			.winner_list
				.fixed_table
					- each w, key in winners.adept
						mixin winner(w)
			
			mixin your_prize()
			
			.prize_image_container
				.prize_image_arrow.left_arrow
				.prize_image_arrow.right_arrow
				img(src="/img/user/moneybox/polotenca/prize_towel.png")
			
			.prize_name Детская постель
			
			mixin winners_note()
	
	.tab_block.faq_block.winners_expert
		.title
			.adorable_table
				.winners_td.level
					.level_content
						.adorable_table
							.adorable_cell.left
								.rank_title ЭКСПЕРТ
				
				.winners_td.prize Детский набор: варежки, шапочка, шарфик
				
				.winners_td.count
					.counter 2
		
		.text
			mixin congratz()
			
			.winner_list
				.fixed_table
					- each w, key in winners.expert
						mixin winner(w)
			
			mixin your_prize()
			
			.prize_image_container
				.prize_image_arrow.left_arrow
				.prize_image_arrow.right_arrow
				img(src="/img/user/moneybox/polotenca/prize_towel.png")
			
			.prize_name Детский набор: варежки, шапочка, шарфик
			
			mixin winners_note()
	
	.tab_block.faq_block.winners_pro
		.title
			.adorable_table
				.winners_td.level
					.level_content
						.adorable_table
							.adorable_cell.left
								.rank_title ПРОФИ
				
				.winners_td.prize Детский чемодан Trunki
				
				.winners_td.count
					.counter 1
		
		.text
			mixin congratz()
			
			.winner_list
				.fixed_table
					- each w, key in winners.pro
						mixin winner(w)
			
			mixin your_prize()
			
			.prize_image_container
				.prize_image_arrow.left_arrow
				.prize_image_arrow.right_arrow
				img(src="/img/user/moneybox/polotenca/prize_towel.png")
			
			.prize_name Детский чемодан Trunki
			
			mixin winners_note()