mixin product(p)
	a.product_block.new_module(href = '/product/' + (p ? p.alias : '{{alias}}'))
		.image
			if p
				if p.image
					- var src = '/img/uploads/x220/' + p.image
				else
					- var src = '/img/no_photo.png'
				img(src=src)
			else
				| {{#if image}}
				img(src="/img/uploads/x220/{{image}}")
				| {{else}}
				img(src="/img/no_photo.png")
				| {{/if}}
		
		.title.adorable_table.border_boxed
			.adorable_cell
				span=(p ? p.title : '{{title}}')
		
		.desc.adorable_table.border_boxed
			.adorable_cell
				span!=(p ? p.text : '{{{text}}}')
		
		.info
			.half
				.adorable_table
					.adorable_cell
						.top=(p ? p.volume.volume + ' ' + p.volume.postfix : '{{volume.volume}} {{volume.postfix}}')
						.bottom=(p ? p.volume.type : '{{volume.type}}')
			
			.half
				.adorable_table
					.adorable_cell
						.top=(p ? p.age.title : '{{age.title}}')
						if p
							if p.age.value < 12
								- var age = 'месяцев'
							else
								- var age = 'лет'
							.bottom #{age}
						else
							.bottom
								| {{#ageValue}}
								| месяцев
								| {{else}}
								| лет
								| {{/ageValue}}