extends ../layout

block append header
    link(href="/js/plugins/chosen/chosen.css" rel="stylesheet" type="text/css")
    link(href="/css/admin/common/contribution.css" rel="stylesheet" type="text/css")

block append scripts    
    script(src="/js/plugins/chosen/chosen.jquery.min.js")
    script(src="/js/admin/jquery.autocomplete.js")
    script.
        var __contributions = !{JSON.stringify(contributions)}
    script(src="/js/admin/common/contribution.js")

block content
    .box
        .box-header
            h3.box-title= "Статьи энциклопедии"
        .box-header
            .panel-primary
                .panel-body
                    a(href="contributions/create")
                        button.btn.btn-primary= "Создать новую статью"
        .box-header.cont-filter
            .col-md-2.white
                | Фильтр:
            .col-md-10
                select.t-years.chzn(data-placeholder="Все возраста")
                    option(value="")
                    each item in years
                        option(value=item._id)= item.name
                select.t-theme.chzn(data-placeholder="Все темы")
                    option(value="")
                    each item in themes
                        option(value=item._id)= item.name
                select.t-author.chzn(data-placeholder="Все авторы")
                    option(value="")
                    each item in authors
                        option(value=item._id)= item.name
            
                select.t-sort.chzn(data-placeholder="Сортировка...")
                    option(value="")
                    option(value="7")= "Название (max -> min)"
                    option(value="8")= "Название (max -> min)"
                    option(value="1")= "Просмотры (max -> min)"
                    option(value="2")= "Просмотры (max <- min)"
                    option(value="3")= "Лайки (max -> min)"
                    option(value="4")= "Лайки (max <- min)"
                    option(value="5")= "Комментарии (max -> min)"
                    option(value="6")= "Комментарии (max <- min)"
            .col-md-2.white
                | Таги:
            .col-md-10
                select.t-tags.chzn(multiple data-placeholder="Все таги")
                    each item in tags
                        option(value=item._id)= item.name
            .col-md-2.white
                | Поиск:
            .col-md-6
                form.t-search-form
                    .input-group
                        input#query.form-control(type="text" name="q" placeholder="Поиск...")
                        span.input-group-btn
                            button#search-btn.btn.btn-flat(name="search")
                                i.fa.fa-search
        .box-header.border-down
            ul#pager.pull-right.pagination
        .box-body.table-responsive.t-itemWrap