
//- +childrenItem()
mixin childrenItem()
	.childItem
		.childPic
			img(src="/img/user/helpers/stub/child.png").rounded

		.childInfo
			.childName {{name}}
			.childGender {{#genders gender}}
			.childAge {{#dateFromBirth birth_date}}

.content.adorable_table
	.adorable_cell
		.header
			.breadcrumbs
				a(href='/') Главная
				span &nbsp; / &nbsp;
					a(href="#") {{profile.first_name}}
				span &nbsp; / &nbsp;
					a(href="/profile/settings") Настройки
			h1.titlePage Настройки профиля
		.user_profile
			.profileFilling
				.title Профиль заполнен на {{profile.filling}}%
				.bar
					.progress(
						style="width: {{profile.filling}}%"
						class="progress-{{profile.filling}}"
					)
			.userMeta
				.userPic
					.pic
						img(src="{{image.large}}")
					.buttons.horizontal
						input(type="file").originalFileInput
						.upload.button(data-uploader="{{uploader 'profile' 'upload button'}}") Загрузить фото
						.remove.button Удалить

			.profileHead
				.headWrap
					h3.inner_title Информация о ваших детках
					.question_bubble.tooltip(title="Some text") ?

			.childBlock
				| {{#each children}}
				.childItem
					.childPic(data-id="{{_id}}" "{{data 'children'}}")
						img(src="/img/user/helpers/stub/child.png").rounded

					.childInfo
						.childName {{name}}
				| {{/each}}

				.addChild
					.button.rounded
					.text
						div Добавить
						div детеныша

			.profileHead
				.headWrap
					h3.inner_title Личные данные
					.question_bubble ?

			.profileInfo
				.userInputs
					.column.left
						.inner
							.input_row
								input(
									placeholder="Имя"
									can-value='profile.first_name'
									value="{{profile.first_name}}"
								).firstname.editableInput
					.column.right
						.inner
							.input_row
								input(
									placeholder="Фамилия"
									can-value="profile.last_name"
									value="{{profile.last_name}}"
								).lastname.editableInput
					.column.left
						.inner
							.input_row.birth_date
								input(
									placeholder="День"
									value="{{birth_date.day}}"
									can-value="birth_date.day"
								).birth_day.editableInput
								input(
									placeholder="Мес."
									value="{{birth_date.month}}"
									can-value="birth_date.month"
								).birth_month.editableInput
								input(
									placeholder="Год"
									value="{{birth_date.year}}"
									can-value="birth_date.year"
								).birth_year.editableInput
					.column.right
						.inner
							.input_row
								| <input type="radio" class="editableInput" can-value="profile.gender" value="1" id="female" name="gender" {{#genderChecked 'female'}}checked{{/genderChecked}}/ >
								label(for="female") Женщина
								| <input type="radio" class=".editableInput" can-value="profile.gender" value="2" id="male" name="gender" {{#genderChecked 'male'}}checked{{/genderChecked}}/>
								label(for="male") Мужчина
								
					.about
						textarea(
							placeholder="Пара слов о себе"
							value="{{profile.about}}"
							can-value="profile.about"
						).about_area.editableInput

			.profileHead
				.headWrap
					h3.inner_title Контактные данные
					.question_bubble ?

			.profileInfo.passwordInfo
				.userInputs(style="margin-top: 0px;")
					.column.left
						.inner
							.input_row
								input(
									type="text"
									placeholder="Город"
									value="{{contacts.city}}"
									can-value="contacts.city"
								).editableInput
							.input_row
								input(
									type="text"
									placeholder="Страна"
									value="{{contacts.country}}"
									can-value="contacts.country"
								)
							.input_row
								input(
									type="text"
									placeholder="Улица"
									value="{{contacts.street}}"
									can-value="contacts.street"
								).editableInput
							.input_row.address
								input(
									type="text"
									placeholder="Дом"
									value="{{contacts.houseNum}}"
									can-value="contacts.houseNum"
								).editableInput
								input(
									type="text"
									placeholder="Квартира"
									value="{{contacts.apartament}}"
									can-value="contacts.apartament"
								).editableInput
					.column.right
						.inner
							.input_row
								input(
									type="text"
									placeholder="Телефон"
									value="{{contacts.phone}}"
									can-value="contacts.phone"
								).editableInput
							.input_row
								input(
									type="text"
									placeholder="E-mail"
									value="{{email}}"
									can-value="email"
								).editableInput
							.input_row
								input(
									type="text"
									placeholder="Запасной E-mail"
									value="{{contacts.spareEmail}}"
									can-value="contacts.spareEmail"
								).editableInput
							.input_row
								.social_buttons.buttons.horizontal
									.button.fb(class="{{#if social.fb.id}}active{{/if}}")
									.button.vk(class="{{#if social.vk.id}}active{{/if}}")
									.button.ok(class="{{#if social.ok.id}}active{{/if}}")


			.profileHead.passwordHead
				.headWrap
					h3.inner_title Изменить пароль
					.question_bubble ?

			.profileInfo.passwordInfo
				.userInputs(style="margin-top: 0px;")
					.column.middle
						.inner
							.input_row
								input(
									type="password"
									data-passid="pass"
									placeholder="Ваш старый пароль"
								).password
								span.switcher(data-passid="pass")

					.column.left
						.inner
							.input_row
								input(
									type="password"
									data-passid="pass"
									placeholder="Новый пароль"
								).password
								span.switcher(data-passid="pass")
					.column.right
						.inner
							.input_row
								input(
									type="password"
									data-passid="newPass"
									placeholder="Новый пароль еще раз"
								).newPassword
								span.switcher(data-passid="newPass")
