.content.adorable_table
	.adorable_cell
		.header
			.breadcrumbs
				a(href='/') Главная
				span &nbsp; / &nbsp;
					a(href="#") {{user.profile.first_name}}
				span &nbsp; / &nbsp;
					a(href="/profile/settings") Настройки
			h1.titlePage Настройки профиля
		.user_profile
			.profileFilling
				.title Профиль заполнен на {{user.profile.filling}}%
				.bar
					.progress(style="width: {{user.profile.filling}}%" class="progress-{{user.profile.filling}}")
			.userMeta
				.userPic
					.pic
						img(src="{{getImage 'large'}}")
					.buttons.horizontal
						.upload.button Загрузить фото
						.remove.button Удалить
			.profileHead
				h3.inner_title Личные данные
				.question_bubble ?

			.profileInfo
				.userInputs
					.column.left
						.inner
							.input_row
								input(
									placeholder="Имя"
									can-value='user.profile.first_name'
									value="{{user.profile.first_name}}"
								).firstname
					.column.right
						.inner
							.input_row
								input(
									placeholder="Фамилия"
									can.value="user.profile.last_name"
									value="{{user.profile.last_name}}"
								).lastname
					.column.left
						.inner
							.input_row.birth_date
								input(
									placeholder="День"
									value="{{user.profile.birth_date.day}}"
									can-value="user.profile.birth_date.day"
								).birth_day
								input(
									placeholder="Мес."
									value="{{user.profile.birth_date.month}}"
									can-value="user.profile.birth_date.month"
								).birth_month
								input(
									placeholder="Год"
									value="{{user.profile.birth_date.year}}"
									can-value="user.profile.birth_date.year"
								).birth_year
					.column.right
						.inner
							.input_row
								| <input type="radio" id="female" name="gender" {{#genderChecked 'female'}}checked{{/genderChecked}}/ >
								label(for="female") Женщина
								| <input type="radio" id="male" name="gender" {{#genderChecked 'male'}}checked{{/genderChecked}}/>
								label(for="male") Мужчина
								
					.about
						textarea(
							placeholder="Пара слов о себе"
							value="{{user.profile.about}}"
							can-value="user.profile.about"
						).about_area

			.profileHead
				h3.inner_title Контактные данные
				.question_bubble ?

			.profileInfo.passwordInfo
				.userInputs(style="margin-top: 0px;")
					.column.left
						.inner
							.input_row
								input(
									type="text"
									placeholder="Город"
									value="{{user.contacts.city}}"
									can-value="user.contacts.city"
								)
							.input_row
								input(
									type="text"
									placeholder="Страна"
									value="{{user.contacts.country}}"
									can-value="user.contacts.country"
								)
							.input_row
								input(
									type="text"
									placeholder="Улица"
									value="{{user.contacts.street}}"
									can-value="user.contacts.street"
								)
							.input_row.address
								input(
									type="text"
									placeholder="Дом"
									value="{{user.contacts.houseNum}}"
									can-value="user.contacts.houseNum"
								)
								input(
									type="text"
									placeholder="Квартира"
									value="{{user.contacts.apartament}}"
									can-value="user.contacts.apartament"
								)
					.column.right
						.inner
							.input_row
								input(
									type="text"
									placeholder="Телефон"
									value="{{user.contacts.phone}}"
									can-value="user.contacts.phone"
								)
							.input_row
								input(
									type="text"
									placeholder="E-mail"
									value="{{user.contacts.email}}"
									can-value="user.contacts.email"
								)
							.input_row
								input(
									type="text"
									placeholder="Запасной E-mail"
									value="{{user.contacts.spareEmail}}"
									can-value="user.contacts.spareEmail"
								)
							.input_row
								.social_buttons.buttons.horizontal
									.button.fb(class="{{#if user.social.fb.id}}active{{/if}}")
									.button.vk(class="{{#if user.social.vk.id}}active{{/if}}")
									.button.ok(class="{{#if user.social.ok.id}}active{{/if}}")


			.profileHead.passwordHead
				h3.inner_title Изменить пароль
				.question_bubble ?

			.profileInfo.passwordInfo
				.userInputs(style="margin-top: 0px;")
					.column.middle
						.inner
							.input_row
								input(type="password" data-passid="pass" placeholder="Ваш старый пароль").password
								span.switcher(data-passid="pass")

					.column.left
						.inner
							.input_row
								input(type="password" data-passid="pass" placeholder="Новый пароль").password
								span.switcher(data-passid="pass")
					.column.right
						.inner
							.input_row
								input(type="password" data-passid="newPass" placeholder="Новый пароль еще раз").newPassword
								span.switcher(data-passid="newPass")
